<div class="container-fluid">
         <h2 style="color: #E5533A; margin-top: 40px;">Menu List</h2>
        <br><br>
        <div class="ff">
          <div style="margin-bottom: 30px; margin-left: 46px;" *ngFor="let item of MenuList">
            <div class="card">
              <img [src]="item.dishImage" width="100%" height="220px">
              <div class="info">
                <h4 style="flex-grow: 3;" class="paragraph">{{item.dishName}}</h4> 
                <p style="flex-grow: 1;" class="btn">{{item.dishPrice}} EGP</p>
              </div>
              <p class="description">{{item.dishDescription}}</p>

          </div>
        </div>
      </div>
     </div>
    


<!--
  <div class="container-fluid">
         <h2 style="color: #E5533A; margin-top: 20px;">Menu List</h2>
        <br><br>
        <div class="row">
          <div class="col-lg-4" style="margin-bottom: 30px;" *ngFor="let item of MenuList">
            <div class="card">
              <img [src]="item.dishImage" width="100%" height="220px">
              <div class="info">
                <h4 style="flex-grow: 3;" class="paragraph">{{item.dishName}}</h4> 
                <p style="flex-grow: 1;" class="btn">{{item.dishPrice}} EGP</p>
              </div>
              <p class="description">{{item.dishDescription}}</p>

          </div>
        </div>
      </div>
     </div>

  --->



