.about-us .main-text {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #727272;
    font-family: Gilroy;
    font-size: 18px;
    text-align: center;
}

.what-is {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: .1em;
    margin: 10px 0 55px;
    color: #4c4c4c;
    font-family: Gilroy;
    font-size: 31px;
    font-weight: 900;
    text-transform: uppercase;
}
.what-is span{
    background-color: #fff;
    padding: 0 10px;
}
.number{
    color: #4c4c4c;
    font-family: Gilroy;
    font-size: 60px;
    text-align: left;
}

.headline {
    color: #4c4c4c;
    font-family: Gilroy;
    font-size: 50px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
}

.text {
    color: #4c4c4c;
    font-family: Gilroy;
    font-size: 22px;
}