<app-header></app-header>

<div class="container-fluid about-us">
    <div class="row">
        <div class="col-sm-8 mx-auto">
            <p class="main-text text-center">Millions of people around the world ask the same question everyday
                “What will I eat today?” It’s the
                question that triggered the journey to build elmenus. elmenus is an Egypt based company that started
                in
                2011 with the vision to help people decide what to eat. We are building a platform that combines a
                social, visual and personalized experience to help people discover and order the food they love.</p>
            <h1 class="what-is">
                <span>What is Elmenus</span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" src="../../../assets/Asset4.png" alt="asset4" width="100%" height="auto">
        </div>
        <div class="col-sm-6">
            <div class="number"> 01 </div>
            <h1 class="headline">A comprehensive platform with over 6,000 restaurants</h1>
            <p class="text">Whether you’re looking for Delivery or Dineout restaurants, you will find them all on
                elmenus Because
                we do our best to ensure we have all the info on every restaurant in Egypt and always up to date.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="number"> 02 </div>
            <h1 class="headline">Discovery to the dish level</h1>
            <p class="text">Whether you want to know the best steaks in your area or the best restaurants serving
                fatta, we’ve got you covered. Discover food by the dish you’re craving with specially curated food
                photos to visualize your next meal.
            </p>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="../../../assets/Asset1.png" alt="asset4" width="100%" height="auto">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" src="../../../assets/Asset2.png" alt="asset4" width="100%" height="auto">
        </div>
        <div class="col-sm-6">
            <div class="number"> 03 </div>
            <h1 class="headline">Order in a click of a button</h1>
            <p class="text">To make your ordering experience easier, we introduced our fully automated online
                ordering in mid 2018. Follow this icon(Order online icon) to Customize your order, pay with your
                credit card and your food will be on its way.
            </p>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="number"> 04 </div>
            <h1 class="headline">The Foodie Community</h1>
            <p class="text">elmenus has a vibrant and growing foodie community, brought together by their passion to
                share their food experiences through photos and reviews. Share your experiences too and help
                millions others decide what and where to eat.
            </p>
        </div>

        <div class="col-sm-6">
            <img class="img-responsive" src="../../../assets/Asset3.png" alt="asset4" width="100%" height="auto">
        </div>
    </div>
</div>