<app-header></app-header>

<h1 class="page-title text-center hidden-xs mt-5"><strong>Discover restaurants to dine-out</strong></h1>

<div class="container-fluid">
  <!-------------------------->
  <br><br><br>
  <h2 class="pl-5"> Discover by Moods</h2>
  <br><br>
  <div class="row">
    <div class="col-sm-6" style="padding-left: 0; padding-right: 0;">
      <img src="../../../assets/pic1.png" class="img-fluid pl-5" height="auto" width="100%">
    </div>

    <div class="col-sm-6">
      <br><br>
      <div class="row">
        <div class="col-sm-4">
          <img src="../../../assets/discover1.jpg" class="img-fluid" height="auto" width="100%">
        </div>
        <div class="col-sm-4">
          <img src="../../../assets/discover5.jpg" class="img-fluid" height="auto" width="100%">
        </div>
        <div class="col-sm-4">
          <img src="../../../assets/discover1.jpg" class="img-fluid" height="auto" width="100%">
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-sm-4">
          <img src="../../../assets/discover1.jpg" class="img-fluid" height="auto" width="100%">
        </div>
        <div class="col-sm-4">
          <img src="../../../assets/discover5.jpg" class="img-fluid" height="auto" width="100%">
        </div>
        <div class="col-sm-4">
          <img src="../../../assets/discover1.jpg" class="img-fluid" height="auto" width="100%">
        </div>
      </div>
    </div>

  </div>
  <!-------------------->
  <br><br><br>

  <!-----slider---------->
  <div class="container pl-3">

    <!--			 Discover by dishes-->
    <h2 class="ml-4"> Discover by Locations</h2>

    <div class="container">
      <h1 class="row">

        <div class="card col-lg-3" style="margin-left: 7%; margin-top:40px;" *ngFor="let item of restaurantsList" (click)="goRestaurant(item.id)">
          <img class="card-img-top mt-2" src="{{item.logo}}" style="width: 100%; height: 250px;"
            alt="" >
          <div class="card-body">
            <h4 class="text-secondary">{{item.restaurantName}}</h4>
            <h6>Phone: <strong class="color">{{item.restaurantPhone}}</strong></h6>
            <h6>From: <strong class="color">{{item.restaurantOpening}}</strong> To: <strong class="color">{{item.restaurantClosing}}</strong></h6>
            <h6>Type: <strong class="color">{{item.restaurantType}}</strong></h6>
            <h6>Location: <strong class="color">{{item.adress}}</strong></h6>

          </div>
        </div>

      </h1>
    </div>


    <br><br>


    <!--			Discover Location-->

    <!-- 
    <div class="row" style="margin-left: 7%;">
      <div class="col-sm-10 card-lg-3">
        <div class="row">
          <div class="card-body" style="margin-bottom: 30px;" *ngFor="let item of restaurantsList" (click)="goRestaurant(item.id)">
            <img [src]="item.logo" width="100%" height="250px"  >
            <img [src]="item.logo" width="40px" height="40px"
              style="float: left;margin-right: 6px;margin-top: 12px;" >
            <p class="paragraph">{{item.restaurantName}}</p>
            <p class="aria_parag">{{item.restaurantType}}</p>
            <ngb-rating [max]="5" [rate]=4 [readonly]="true"></ngb-rating>
          </div>

        </div>
      </div> -->


      <h3 class="mt-5 mb-4">Discover {{restaurantsList[0].restaurantBranchs[0]}}</h3>

      <div class="container">
        <h1 class="row">
  
          <div class="card col-lg-3" style="margin-left: 7%; margin-top:40px;" *ngFor="let item of restaurantsList" (click)="goRestaurant(item.id)">
            <!-- <img class="card-img-top mt-2" src="{{item.logo}}" style="width: 100%; height: 250px;"
              alt="" > -->
            <div class="card-body">
              <img [src]="item.logo" width="100%" height="250px"  >
              <img [src]="item.logo" width="40px" height="40px"
              style="float: left;margin-right: 6px;margin-top: 12px;" >
              
              <h5 class="mt-2">{{item.restaurantName}}</h5>
            <h6 class="color">{{item.restaurantType}}</h6>
            <ngb-rating [max]="5" [rate]=4 [readonly]="true"></ngb-rating>
            </div>
          </div>
  
        </h1>
      </div>


    </div>
  </div>
  <app-footer></app-footer>