.footer-main {
	margin-top: 30px;
	padding: 10px 30px;
	background: #fff url(../../../assets/images/footer-bg.png) no-repeat bottom;
	background-size: 100% 100%;
}

.footer-main h4:after {
	content: "";
	width: 40px;
	background: #ed3c0b;
	height: 2px;
	display: block;
	margin-top: 7px;
}

.footer-images {
	text-align: center;
}

.container {
	margin-right: auto;
	margin-left: auto;
}

.footer-cities-list {
	position: relative;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-left: 8px;
	padding-right: 8px;
}

.footer-cities-list li {
	padding: 0;
	margin: 0;
	flex: 1 1 auto;
	width: 40%;
	font-size: 13px;
	font-weight: 600;
	color: #5d5d5d;
	list-style: none;
	text-align: -webkit-match-parent;

}

.footer-cities-list li a {
	text-decoration: none;
	background-color: transparent;
	color: #5d5d5d;
}

.footer-cities-list li a:hover {
	color: #ed3c0b;
}

footer .ft-sc-icon {
	color: #9d9fa2;
	line-height: 20px;
	font-size: 20px;
}

footer .ft-lnk {
	color: #615F61;
	line-height: 20px;
	font-size: .9rem;
	margin: 0 1.5rem;
}

footer p {
	color: #615F61;
}

footer .ft-sc-icon:hover,
.ft-lnk:hover {
	color: #E5533A;
	text-decoration: none;
}

@media screen and (max-width: 992px) {
	.footer-cities-list li {
		font-size: 11px;
	}
	footer .ft-lnk {
		margin: 0;
	}
}

@media screen and (max-width: 767px) {
	.footer-images {
		background: url(../../../assets/images/footer-illustration.png) no-repeat bottom;
		padding-bottom: 250px;
	}

	.footer-cities-list li {
		font-size: 13px;
	}

	footer .ft-sc-icon {
		font-size: 1.5rem;
		margin: 0 .2rem
	}
	footer .ft-social {
		border: 1px solid #9d9fa22e;
		border-right: 0;
		border-left: 0;
		padding: 15px;
		margin: 15px;
	}
	footer p {
	margin-top: .4rem;
}
}
