
<nav class="navbar fixed-top scrolling-navbar bg-light">
    <a class="navbar-brand" href="#"><img class="img-fluid rounded-circle mx-auto d-block" src="/assets/app icon.jpg" alt="app icon">elmenus</a>
</nav>

<div class="container-fluid">
    <div class="row bg-light">
      <nav class="col-sm-3 col-md-2  d-sm-block right_side sidebar">
        <img src="/assets/profile_image.jpg" class="img-responsive img-circle rounded-circle">
        <h3>UserName</h3>
        <hr> 
        <ul class="nav nav-pills flex-column" style="padding: 10px;">
            <li routerLinkActive="active"><i [routerLink]="['/dashboard']" class="fas fa-home"  placement= 'top' ngbTooltip="Overview"></i><a [routerLink]="['/dashboard']" > Overview </a></li>
            <li routerLinkActive="active"><i [routerLink]="['/dashboard/orderlist']" class="fas fa-pizza-slice" placement= 'top' ngbTooltip="Orders"></i><a [routerLink]="['/dashboard/orderlist']"> Orders</a></li>
            <li routerLinkActive="active"><i [routerLink]="['/dashboard/showrestaurants']" class="fas fa-utensils" placement= 'top'  ngbTooltip="Restaurants"></i><a [routerLink]="['/dashboard/showrestaurants']" style="font-size: 24px;"> Restaurants</a></li>
            <li routerLinkActive="active"><i [routerLink]="['/dashboard/addrestaurant']" class="fas fa-calendar-plus" placement= 'top' ngbTooltip="Add"></i><a [routerLink]="['/dashboard/addrestaurant']" style="font-size: 21px;"> Add Restaurant</a></li>
            <li routerLinkActive="active"><i [routerLink]="['/dashboard/menulist']" class="fas fa-list-alt" placement= 'top' ngbTooltip="Menu"></i><a [routerLink]="['/dashboard/menulist']"> Menu List</a></li>
            <li routerLinkActive="active"><i [routerLink]="['/dashboard/customerlist']" class="fas fa-user-friends" placement= 'top' ngbTooltip="Users"></i><a [routerLink]="['/dashboard/customerlist']"> Customers</a></li>
            <li routerLinkActive="active"><i [routerLink]="['/dashboard/reviewlist']" class="fas fa-comment-alt" placement= 'top' ngbTooltip="Reviews"></i><a [routerLink]="['/dashboard/reviewlist']"> Reviews</a></li>
            <li routerLinkActive="active"><i [routerLink]="['/adminlogin']" class="fas fa-power-off" placement= 'top' ngbTooltip="Logout" (click)="auth.signOut()"></i><a  (click)="auth.signOut()" [routerLink]="['/adminlogin']"> Logout</a></li>

          </ul>
      </nav>
  
      <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 main ">
  
            <router-outlet></router-outlet>
        
      </main>
    </div>
  </div>
<!------------- Left Side ---------------------------------------->
<!--<div class="container-fluid bg-light">
<div class="row">
    <div class=" col-sm-4 col-md-4 col-lg-2 right_side">
       <img src="/assets/profile_image.jpg" class="img-responsive img-circle rounded-circle">
        <h3>UserName</h3>
        <hr><br>
        <ul>
        <li routerLinkActive="active"><a [routerLink]="['/overviewdashboard']" ><i class="fas fa-home"></i> Overview </a></li>
        <li routerLinkActive="active"><a [routerLink]="['/orderlist']"><i class="fas fa-pizza-slice"></i> Orders</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/showrestaurants']" style="font-size: 24px;"><i class="fas fa-utensils"></i> Restaurants</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/addrestaurant']"><i class="fas fa-calendar-plus"></i> Add Restaurant</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/menulist']"><i class="fas fa-list-alt"></i> Menu List</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/customerlist']"><i class="fas fa-user-friends"></i> Customers</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/reviewlist']"><i class="fas fa-comment-alt"></i> Reviews</a></li>
        <li><a href="#"><i class="fas fa-cogs"></i> Settings</a></li>
        <li><a href="#"><i class="fas fa-power-off"></i> Logout</a></li>
    </ul>
    </div>-->
<!---------------------------- end Left side------------------------------------>

<!-----------------------------right side------------------------------------>
    <!--<div class=" col-sm-8 col-md-8 col-lg-10 right" >
        <router-outlet></router-outlet>
       
</div>
</div>
</div>-->

<!-------------end right Side ---------------------------------------->