
<!-------------- nav before login ------------------------>
<ng-template #login>
  <div *ngIf="nav_before_login">
    <nav class="navbar navbar-expand-lg navbar-light bg-light custom" style="padding: 0;" >
      <a class="navbar-brand" href="#">
        <img src="assets/app icon.jpg" style="width: 40px; height: 40px;" class="d-inline-block align-top" alt="">
        elmenus
      </a>  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="height: 50px;">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/delivery']" routerLinkActive="active">{{'deliveryLink' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dineout']" routerLinkActive="active" >{{'dineoutLink' |translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/giftmeals']" routerLinkActive="active"><i class="fas fa-gift" ></i>{{'giftmealsLink' |translate }}</a>
          </li>
          
          
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
          <button class="btn login mr-2 my-sm-0" data-toggle="modal" data-target="#myModal" >{{'hm-Login'|translate}}</button>
          <button class="btn sign mr-2 my-sm-0" data-toggle="modal" data-target="#mySignUpModal" >{{'hm-SIGNUP'|translate}}</button>
          <!--<a href="#" class="cart"><i style="font-size: 24px; " class="fas fa-shopping-cart"></i></a>-->
    
          
          <!-- Translation -->
          <div *ngIf="lang == 'en'; else arSection">
            <div class="nav-item">
                <a class="nav-link">
                    <button type="button" class="btn btn-link" (click)="changeLanguage('ar')"
                        style="color: #E5533A; padding-bottom: 10px;">العربية</button>
                </a>
            </div>
        </div>
        <ng-template #arSection>
            <div class="nav-item">
                <a class="nav-link">
                    <button type="button" class="btn btn-link" (click)="changeLanguage('en')"
                        style="color: #E5533A; padding-bottom: 10px;">English</button>
                </a>
            </div>
        </ng-template>
        <!-- Translation -->
        
        <!--</form>-->
      </div>
    </nav>      
    </div>
</ng-template>

<!-------------- nav after login ----------------------------->
<div *ngIf="auth.user$ | async as user; else login">
<nav class="navbar navbar-expand-lg navbar-light bg-light custom" style="padding: 0;" >
  <a class="navbar-brand" href="#">
    <img src="assets/app icon.jpg" style="width: 40px; height: 40px;" class="d-inline-block align-top" alt="">
    elmenus
  </a>  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse tabs" id="navbarTogglerDemo02" style="height: 50px;">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/delivery']" routerLinkActive="active">{{'deliveryLink' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dineout']" routerLinkActive="active" >{{'dineoutLink' |translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/giftmeals']" routerLinkActive="active"><i class="fas fa-gift" ></i>{{'giftmealsLink' |translate }}</a>
      </li>
    </ul>
    <!-----right Side -->
    <ul class="navbar-nav navbar-after mr-5 mt-2 mt-lg-0">
      <!-- <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-bell"></i>{{'Notification'|translate}}</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/myorders']" routerLinkActive="active">{{'My Orders'|translate}}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-friends"></i>  {{'Profile'|translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item nobg"  [routerLink]="['/setting']" >{{'Account Settings'|translate}}</a>
          <a class="dropdown-item nobg"  [routerLink]="['/Home']" (click)="auth.signOut()" >{{'logout'|translate}}</a>
        </div>
      </li>
      </ul>
      <!--<a href="#" class="cart"><i style="font-size: 24px; " class="fas fa-shopping-cart"></i></a>-->
      <!-- <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
          [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select> -->
      <!-- Translation -->
      <div *ngIf="lang == 'en'; else arSection">
        <div class="nav-item">
            <a class="nav-link">
                <button type="button" class="btn" (click)="changeLanguage('ar')"
                    style="color: #E5533A; padding-bottom: 10px;">العربية</button>
            </a>
          </div>
    </div>
    <ng-template #arSection>
        <div class="nav-item">
            <a class="nav-link">
                <button type="button" class="btn" (click)="changeLanguage('en')"
                    style="color: #E5533A; padding-bottom: 10px;">English</button>
            </a>
          </div>
    </ng-template>
    <!-- Translation -->
  </div>
</nav> 
</div>
<!------------------- 2nd nav --------------------------------->
    <!-- <nav class=" navbar navbar-light bg-light">
      <div class="input-container">
        <input class="input-field" type="text" placeholder="{{'FindRestaurant'|translate}}">
        <i class="fas fa-search"></i>
      </div>
      <span style="font-size: 20px;"><i class="fas fa-biking" style="color: #E5533A;"></i>{{'Deliver'|translate}}</span>
      <span style="margin-right: 100px;color: #E5533A; font-size: 22px;"><strong> St.Mohamed Tawfik</strong></span>
      <button style="width: 100px; height: 30px; font-size: 17px;border:1px solid #E5533A;background-color: none;color: #E5533A; border-radius: 8px;">{{'Change'|translate}}</button>
    </nav> -->

<!-------- Routing -------------------------------------------->

<!----------------------- Start Modal----------------------------->
<!--Modal-->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header text-center">
              <img class="modal-title w-100 mt-2 mb-2"
                  src="../../../assets/images/logo.svg" height="25">
              <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <!-- Modal body -->
          <form>
              <div class="form-group">
                  <div class="modal-body mx-3">
                      <div class="md-form mb-4">
                          <input #emailLogin type="text" id="usr-nm"
                              class="form-control validate" name="validate"
                              #validate="ngModel"
                              ngModel
                              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                              placeholder="Email"
                              required/>
                      </div>
                      <div class="md-form mb-1">
                          <input #passLogin type="password" id="defaultForm-pass"
                              class="form-control validate"name="validate2"
                              #validate2="ngModel"
                              ngModel
                              pattern=".{6,}"
                              placeholder="password"
                              required>
                      </div>
                  </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer justify-content-center">
                  <button id="Modal-Lgn-btn" type="button"
                      class="btn btn-danger btn-block " data-dismiss="modal"
                      (click)="auth.signIn(emailLogin.value,passLogin.value)">Login</button>
                  <!-- <button id="Login-FB-btn" type="button"
                      class="btn btn-primary btn-block">Continue With Facebook </button>
                  <a id="frgt-lnk" href="#" class="text-center">Forgot Password</a> -->
              </div>
          </form>

      </div>
  </div>
</div>
<!--end_Modal-->

<!--signup_Modal-->
<div class="modal fade" id="mySignUpModal">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header text-center">
              <img class="modal-title w-100 mt-2 mb-2"
                  src="../../../assets/images/logo.svg" height="25">
              <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <!-- Modal body -->
          <form>
              <div class="form-group">
                  <div class="modal-body mx-3">
                      <div class="md-form mb-4">
                          <input #name type="text" id="reg-usr-nm"
                              class="form-control validate"name="validate5"
                              #validate5="ngModel"
                              ngModel
                              pattern="[Aa-Zz]"
                              placeholder="name"
                              required />
                      </div>
                      <div class="md-form mb-4">
                          <input #email type="text" id="usr-mail"
                              class="form-control validate"
                              name="validate3"
                              #validate3="ngModel"
                              ngModel
                              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                              placeholder="Email"
                              required />
                      </div>
                      <div class="md-form mb-1">
                          <input #password type="password" id="usr-pass"
                              class="form-control validate"name="validate4"
                              #validate4="ngModel"
                              ngModel
                              pattern=".{6,}"
                              placeholder="password"
                              required />
                      </div>
                  </div>

              </div>
              <!-- Modal footer -->
              <div class="modal-footer justify-content-center">
                  <button id="ModalSignUp-btn" type="button"
                      (click)="auth.signUp(email.value,password.value,name.value)"
                      class="mb-5 btn btn-danger btn-block " data-dismiss="modal">Create
                      Account</button>
                  <p class="pb-3 text-center form-text text-muted">By creating an account,
                      you agree to our Terms of service and Privacy policy</p>
              </div>
          </form>

      </div>
  </div>
</div>
<!--end_signup_Modal-->
   <!----------------End Modal-------------------------------->
