/**{
  direction: rtl;
}*/
/******************************************************/
@media (min-width:1240px)
{
  .navbar-expand-lg
  {
    height: 50px !important;
  }
}

.navbar-expand-lg {
  background-color: white !important;
  border-bottom: 1px solid #b1aaaa !important;
  font-size: 20px !important;
}
.navbar-expand-lg a {
  color: rgb(92, 87, 87) ;
  font-size: 24px !important;
  margin-left: 15px !important;
}
.navbar-expand-lg ul li a:hover{
  background-color: #E5533A ;//!important;
  color: white ;
}
.active{
  background-color: #E5533A;
  color:white !important

}
.fas {
  margin-right: 3px;
}


  .sign
  {
  margin-left:4px;
  border: 1px solid #E5533A;
  /*border-radius: 20px;*/
  color: white;
  height: 30px;
  padding: 0;
  width: 85px;
  background-color: #E5533A !important;
  }

  .modal-dialog {
    width: 350px !important;
   
  }
  
  @media (max-width:500px)
  {
    .modal-dialog {
      width: 300px !important;
      margin:auto
     
    }
  }
  
  
.navbar-after .nav-item a{
  font-size: 20px !important;
}

.fa-shopping-cart {
 
  color: #E5533A;
}
/************* 2nd header *******************************/
.input-container {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  width: 600px;
  border: 1px solid none;
  box-shadow: 1px 1px 2px 2px #c0b9b9;
}

.fa-search {
  padding-top: 4px;
  background: white;
  color: #ada4a4;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  border: none;
}

.gray-col {
  color: gray;
}

.paragraph {
  font-size: 6pt;
  color: gray;
}


.dropdown-menu a:hover {
  background-color:#E5533A !important;
  width: 90%;

  
}
///////////////////////////////////
.nav-tabs {
  .active{
    background-color: white !important;
     color:#E5533A !important;
    
  }
}
////////////////////
.tab-pane
{
      background-color: white !important;
}
/////////////////////
select{
  width: 80px !important;
  height: 35px;
}


#ModalSignUp-btn, #Modal-Lgn-btn {
	border-radius: 4px;
    line-height: 30px;
    font-weight: 600;
    border: none;
	background: #e7624b;
}
#ModalSignUp-btn:hover, #Modal-Lgn-btn:hover {
	background-color: #DF3019;
}
#Login-FB-btn{
	background-color: #4267b2;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    letter-spacing: .01em;
	line-height: 30px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.4);
}
////////////////////////
@media (min-width:991px) and (max-width:1121px){
  .tabs ul li a{
    font-size: 18px !important;
  }
  .dropdown-menu{
    width:185px !important;
  }
}