
<!-------------- nav before login ------------------------>
<div *ngIf="nav_before_login">
<nav class="navbar navbar-expand-lg navbar-light bg-light custom" style="padding: 0;" >
  <a class="navbar-brand" href="#">
    <img src="assets/app icon.jpg" style="width: 40px; height: 40px;" class="d-inline-block align-top" alt="">
    elmenus
  </a>  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="height: 50px;">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/delivery']" routerLinkActive="active">Delivery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dineout']" routerLinkActive="active" >Dine Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/giftmeals']" routerLinkActive="active"><i class="fas fa-gift" ></i>Gift Meals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/myorders']" routerLinkActive="active">My Orders</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-friends"></i>  Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item nobg"  [routerLink]="['/setting']" >Account Settings</a>
        </div>
      </li>
      
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
      <button class="btn login my-2 my-sm-0" data-toggle="modal" data-target="#exampleModalCenter" >Login</button>
      <button class="btn sign my-2 my-sm-0" data-toggle="modal" data-target="#exampleModalCenter" >Sign Up</button>
      <a href="#" class="cart"><i style="font-size: 24px; " class="fas fa-shopping-cart"></i></a>

    <!--</form>-->
  </div>
</nav>      
</div>
<!-------------- nav after login ----------------------------->
<div *ngIf="nav_after_login">
<nav class="navbar navbar-expand-lg navbar-light bg-light custom" style="padding: 0;" >
  <a class="navbar-brand" href="#">
    <img src="assets/app icon.jpg" style="width: 40px; height: 40px;" class="d-inline-block align-top" alt="">
    elmenus
  </a>  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="height: 50px;">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Delivery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dine Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-gift"></i>Gift Meals</a>
      </li>
    </ul>
    <!-----right Side -->
    <ul class="navbar-nav navbar-after mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-bell"></i>Notification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/myorders']" href="#">My Orders</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-friends"></i>  Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"  href="#">Account Settings</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
      </ul>
      <a href="#" class="cart"><i style="font-size: 24px; " class="fas fa-shopping-cart"></i></a>
  </div>
</nav> 
</div>
<!------------------- 2nd nav --------------------------------->
    <nav class=" navbar navbar-light bg-light">
      <div class="input-container">
        <input class="input-field" type="text" placeholder="Find a Restaurant">
        <i class="fas fa-search"></i>
      </div>
      <span style="font-size: 20px;"><i class="fas fa-biking" style="color: #E5533A;"></i>Deliver</span>
      <span style="margin-right: 100px;color: #E5533A; font-size: 22px;"><strong> St.Mohamed Tawfik</strong></span>
      <button style="width: 100px; height: 30px; font-size: 17px;border:1px solid #E5533A;background-color: none;color: #E5533A; border-radius: 8px;">Change</button>
    </nav>

<!-------- Routing -------------------------------------------->

<!----------------------- Start Modal----------------------------->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2  class="modal-title"><img class="img-fluid rounded-circle mx-auto d-block" style="width: 19%;float: left;" src="/assets/app icon.jpg" alt="app icon">elmenus
      </h2>
        <button type="button" #close class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="margin-left: 15px;">
            <li role="presentation" id="login"><a href="#uploadTab" aria-controls="uploadTab" role="tab" data-toggle="tab" style="margin-right: 25px;font-size: 22px; font-weight: bold;">Login</a>

            </li>
            <li role="presentation"  id="createaccount"><a style="font-size: 20px; font-weight: bold;" href="#browseTab" aria-controls="browseTab" role="tab" data-toggle="tab">Create Account</a>

            </li> 
        </ul>
        <br>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="uploadTab">
                <div class="form-group">
                    <input type="text" class="form-control" id="email" style="font-size: 15px;height: 40px !important;" placeholder="email"  name="email">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="pwd" style="font-size: 15px; height: 40px !important;" placeholder="password" name="pswd">
                  </div>
                  <button (click)="login()" type="button" id="modal_login" class="btn btn-block" style="background-color: #E5533A; color: white; font-size: 18px;">Login</button>
                  <button (click)="login()" type="button" class="btn btn-block" style="background-color: #4267B2; color: white; font-size: 15px;">Continue With FaceBook</button>
                  <span style="font-size: 15px; margin-top: 10%; margin-left: 30%; color: #E5533A;">forget password?</span>
                </div>
            <!--------------------------------------------->
            <div role="tabpanel" class="tab-pane" id="browseTab">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" style="font-size: 15px; height: 40px !important;" placeholder="name"  name="email">
                  </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="username2" style="font-size: 15px; height: 40px !important;" placeholder="email"  name="email">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="pwd2" style="font-size: 15px; height: 40px !important;" placeholder="password" name="pswd">
                  </div>
                  <button (click)="login()" type="button" class="btn btn-block" style="background-color: #E5533A; color: white; font-size: 18px;">Create Account</button>
                  <span style="font-size: 13px;text-align: center;color: rgb(207, 188, 188); ">By creating an account, you agree to our Terms</span>
                </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

   <!----------------End Modal-------------------------------->
