  <div class="col-md-12 pt-3">
    <h4 class="collection-title">About</h4>
    <div class="jumbotron jEnfo">
      <p class="info-3-value"><i class="fas fa-home"></i>{{resturantPhone}}</p>
      <p class="info-3-value"><i class="fas fa-map-marker-alt"></i>39 El Hosary Square District 1, 6th of October <a
        routerLink="/resturant/list" >+{{returantBrnches.length}}</a></p>
      <p class="info-3-value"><i class="far fa-clock"></i>Working Hours :{{workOpen}} - {{WrokClose}}</p>
    </div>
    <h4 class="start-title"> <i class="fab fa-instagram"></i> Featured photos</h4>
    <div class="card d-inline-block" *ngFor="let item of featuredPhotos">
      <img [src]="item" alt="dImg" class="d-block w-100">
    </div>
    <h4 class="start-title"> <i class="fas fa-map-marker-alt"></i> Adrress</h4>
    <p class="info-2-value">39 El Hosary Square District 1, 6th of October <a href="#">+{{returantBrnches.length}}</a></p>
    <!--maps  -->
  <div class="row">
    <div class="col-md-12" style="height: 500px;">
      <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55308.51457057811!2d30.89524010516549!3d29.95694393695512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145856f652aa1d33%3A0x993d7ec26e91b315!2sMcDonald&#39;s!5e0!3m2!1sen!2seg!4v1609458386360!5m2!1sen!2seg"
      width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
    </div>
  </div>
    <h4 class="start-title">
      <i class="far fa-clock"></i>
      Working Hours
    </h4>
    <p class="info-2-value">{{workOpen}} - {{WrokClose}} </p>
    <span class="text float-right">
      <i class="far fa-check-circle"></i>
      open now
    </span>
    <br> <br>
    <div class="row py-4">
      <div class="col-md-4">
        <h4 class="start-title pl-4">
          <i class="fas fa-bicycle"></i>
          Delivery Area
        </h4>
        <span class="text  pl-4">
          <i class="far fa-check-circle"></i>
          Delevers to you
        </span>
      </div>
      <div class="area float-right col-md-8">
        <div class="pt-2" style="display: inline-block;" *ngFor="let item of returantBrnches">
          <span class="area-icon">{{item  | slice:0:2 }} </span>
          <p class="area-t" style="margin-right: 20px;">{{item}}</p>
        </div>
      <div class="clear-fix"></div>
    </div>
    </div>
  </div> 