    <div class="col-md-9 pt-3">
      <h4 class="collection-title">{{"review" | translate}}</h4>
      <br/>
      <button class="btn buttonAdd-outline btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        {{"addReview" | translate}} <i class="far fa-arrow-alt-circle-down"></i>
      </button>
      <div class="collapse" id="collapseExample">
        <div class="add-review jumbotron">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">{{"name" | translate}}:</span>
            </div>
            <input type="text" [(ngModel)]="userName" class="form-control" placeholder="Your Name"  aria-describedby="basic-addon1">
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2"> {{"rate" | translate}} :</span>
            </div>
            <input type="number" [(ngModel)]="rate" class="form-control" max="5" min="1" aria-describedby="basic-addon2">
           
          </div>
          
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">{{"comment" | translate}} :</span>
            </div>
            <textarea class="form-control" [(ngModel)]="comment" aria-label="With textarea"></textarea>
          </div>
          <br/>
          <button class="btn buttonAdd float-right" (click)="addReview()" >{{"add" | translate}}  </button>
        </div>
      </div>
      
      <div class="jumbotron" *ngFor="let item of reviewList">
        <div class="container">
          <h4 class="area-title ">{{item.userName}}</h4>
          <br>
          <p class="info-value pt-4 mb-0">{{item.reviewText}}</p>
          <p class="info-2-value pt-0">
            <span class="fa fa-star" [class.checked]='item.reviewRate >= 1'></span>
            <span class="fa fa-star" [class.checked]='item.reviewRate >= 2'></span>
            <span class="fa fa-star" [class.checked]='item.reviewRate >= 3'></span>
            <span class="fa fa-star" [class.checked]='item.reviewRate >= 4'></span>
            <span class="fa fa-star" [class.checked]='item.reviewRate >= 5'></span>
          </p>
        </div>
      </div>
    </div>