<app-header></app-header>
<div class="container-fluid about-us">
    <div class="col-sm-12">
        <h2>ELMENUS, SAE</h2>
        <h2 class="text-center">TERMS OF USE</h2>
        <p>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THE SERVICES OFFERED BY ELMENUS ("ELMENUS"), AN
            EGYPTIAN JOINT STOCK COMPANY. THESE TERMS OF USE SET FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR
            YOUR
            USE OF THE ELMENUS MOBILE APP OR WEBSITE AT HTTP://WWW.ELMENUS.COM (THE "SITE") AND THE SERVICES,
            FEATURES,
            CONTENT, APPLICATIONS OFFERED BY ELMENUS (COLLECTIVELY WITH THE SITE, THE "SERVICE").</p>
        <h3>
            Acceptance of Terms.
        </h3>
        <p>By registering for and/or using the Service in any manner, including but not limited to visiting or
            browsing the Site, you agree to all of the terms and conditions contained herein ("Terms of Use"), which
            also incorporate Privacy Policy and all other operating rules, policies and procedures that may be
            published from time to time on the Site by Elmenus, each of which is incorporated by reference and each
            of which may be updated by Elmenus from time to time without notice to you. In addition, some services
            offered through the Service may be subject to additional terms and conditions specified by Elmenus from
            time to time; your use of such services is subject to those additional terms and conditions, which are
            incorporated into these Terms of Use by this reference. These Terms of Use apply to all users of the
            Service, including, without limitation, users who are contributors of content, information, and other
            materials or services on the Site, individual users of the Service and restaurants that have a page on
            the Service.</p>

        <h3>Access.</h3>
        <p>Subject to these Terms of Use, Elmenus may offer to provide the Services, as described more fully on the
            Site, and which are selected by you, solely for your own use, and not for the use or benefit of any
            third party. Services shall include, but not be limited to, any services Elmenus performs for you, any
            applications offered by Elmenus that you download from the Site or, subject to the terms set out under
            the "Third party Sites and Services" section below, from third party application stores (e.g., iTunes®
            store, Blackberry App World™, or Google Apps Marketplace) authorized by Elmenus, as well as the offering
            of any materials displayed or performed on or through the Services (including Content (as defined
            below)).</p>

        <h3>Registration and Eligibility.</h3>
        <p>You may browse the Site and view Content without registering, but as a condition to using certain aspects
            of the Service, you are required to register with Elmenus and represent, warrant and covenant that you
            provide Elmenus with accurate and complete registration information (including, but not limited to a
            user name ("User Name"), e-mail address and a password you will use to access the Service) and to keep
            your registration information accurate and up-to-date. Failure to do so shall constitute a breach of
            these Terms of Use, which may result in immediate termination of your Elmenus account. We recommend, but
            do not require, that you use your own name as your User Name so your friends can recognize you more
            easily.</p>
        <h3>You shall not:</h3>
        <p>-create any account for anyone other than yourself without such person's permission;
            use a User Name that is the name of another person with the intent to impersonate that person;
            use a User Name or Elmenus account that is subject to any rights of a person other than you without
            appropriate authorization; or
            use a User Name that is a name that is otherwise offensive, vulgar or obscene or otherwise unlawful.
            Elmenus reserves the right to refuse registration of, or cancel a User Name in its sole discretion. You
            are solely responsible and liable for activity that occurs on your account and shall be responsible for
            maintaining the confidentiality of your Elmenus password. You shall never use another user's account
            without such other user's prior express permission. You will immediately notify Elmenus in writing of
            any unauthorized use of your account, or other account related security breach of which you are aware.

            You represent and warrant that if you are an individual, you are of legal age to form a binding
            contract, or that if you are registering on behalf of an entity, that you are authorized to enter into,
            and bind the entity to, these Terms of Use and register for the Service. The Service is not available to
            individuals who are younger than 13 years old. Elmenus may, in its sole discretion, refuse to offer the
            Service to any person or entity and change its eligibility criteria at any time. You are solely
            responsible for ensuring that these Terms of Use are in compliance with all laws, rules and regulations
            applicable to you and the right to access the Service is revoked where these Terms of Use or use of the
            Service is prohibited and, in such circumstances, you agree not to use or access the Site or Services in
            any way.</p>
    </div>

</div>