* {
	box-sizing: border-box;
}

#intro:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 52rem;
	/*			height: 94%; lv-srvr*/
	opacity: .9;
	background: url("../../../assets/images/landing-bg-min.jpeg")no-repeat;
	background-size: cover;
	z-index: -1;
}

.mask {
	background-color: rgba(0, 0, 0, 0.5);
}

.blackBx-mask2 {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	margin-top: 90px;
	border-radius: 5px;
}

.blackBx-mask2 a {
	color: #e5533a;
	text-decoration: underline;
}

.header-title {
	font-family: 'Mukta', sans-serif;
	line-height: 1;
	font-size: 120px;
}

#ModalSignUp-btn, #Modal-Lgn-btn {
	border-radius: 4px;
    line-height: 30px;
    font-weight: 600;
    border: none;
	background: #e7624b;
}
#ModalSignUp-btn:hover, #Modal-Lgn-btn:hover {
	background-color: #DF3019;
}
#Login-FB-btn{
	background-color: #4267b2;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    letter-spacing: .01em;
	line-height: 30px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.4);
}

#nv-lgn-lnk,
.navbar-dark .navbar-nav .nav-link,
.white-text {
	color: #FFFFFF;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0);
}

#frgt-lnk {
	color: #e5533a;
}

#frgt-lnk:hover {
	text-decoration: none;
}

.top-nav-collapse {
	background-color: #24355C;
}

#go-btn {
	background-color: #e5533a;
	width: 100%;
	height: 3.3rem;
}

#go-btn:hover {
	background-color: #DF3019;
}

#hm-signup-btn {
	background-color: #e5533a;
}

#hm-signup-btn:hover {
	background-color: #DF3019;
}

#drpdwn-hm {
	height: 3.3rem;
	background-color: #F2F5F7;
}

.search-hm {
	height: 3.3rem;
}
.search-hm:focus {
	box-shadow: none;
	border-color: #CCCCCC;
}

.btn-light.dropdown-toggle {
	padding: 0.85rem;
  }

.crd-no-brdr {
	border: none;
}

.clickable a {
	text-decoration: none;
}

.clickable .card-title {
	color: #464748;
}

.clickable span i,
.clickable p {
	color: #a9acae;
}

.clickable i {
	color: #68696b;
}

.st-hdr-title {
	font-family: 'Mukta', sans-serif;
	line-height: 1.2;
	font-size: 75px;
	font-weight: 600;
	margin: 0 auto 70px auto;
	max-width: 760px;
}

.hdr-subtitle {
	margin-top: 1.7rem;
	position: relative;
	display: inline-block;
	font-size: 1rem;
	color: #a9acae;
	line-height: 1;
}

.hdr-subtitle:before {
	content: "";
	position: absolute;
	top: 60%;
	left: -50%;
	width: 40px;
	height: 2px;
	display: inline-block;
	background-color: #a9acae;
}

.hdr-subtitle:after {
	content: "";
	position: absolute;
	top: 60%;
	left: 105%;
	width: 40px;
	height: 2px;
	display: inline-block;
	background-color: #a9acae;
}

.hdr-title {
	font-size: 128px;
	font-weight: 600;
	margin-bottom: 90px;
	line-height: .79;
}

.scnd-section-footer {
	height: 16rem;
	background-color: #f3f9f0;
	position: relative;
}

#hm-ordr-btn {
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	padding: 16px 24px;
	background-color: #e5533a;
	border-color: #e5533a;
}

#hm-ordr-btn:hover {
	background-color: #DF3019;
}

@media screen and (max-width: 1282px) {
	#intro:before {
		height: 45.8rem;
	}

	.hdr-title {
		font-weight: 600;
		font-size: 48px;
		color: #e5533a;
		line-height: .79;
	}

	.st-hdr-title {
		font-size: 48px;
		font-weight: 600;
		/*		margin:0 auto 70px auto;
				max-width: 760px;*/
	}

	.scnd-section-body:before {
		content: "";
		position: absolute;
		top: -515px;
		left: 0;
		right: 0;
		background-color: #474747;
		height: 520px;
		z-index: -1000;
		transform: skewY(-7deg);
	}
}

/*display vertical line*/
@media screen and (min-width: 992px) {
	.vl {
		border-right: 2px solid #a9acae;
	}
}

@media screen and (max-width: 768px) {
	.navbar-dark .navbar-toggler {
		background-color: #e5533a;
	}

	#intro:before {
		height: 50rem;
	}
}

@media screen and (max-width: 576px) {
	#intro:before {
		height: 60rem;
	}
}

@media screen and (max-width: 992px) {
	.scnd-section-body {
		position: relative;
	}

	.ordr-online-chck {
		display: block;
	}
}

@media screen and (max-width: 480px) {
	.header-title {
		font-size: 25px;
	}
}

@media screen and (min-width: 1024px) {
	.scnd-section-footer:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 8rem;
		right: 0;
		left: 0;
		background-color: #f3f9f0;
		height: 305px;
		z-index: -1;
		transform: skewY(-7deg);
	}
}

@media screen and (max-width: 1024px) {
	.scnd-section-footer {
		background-color: transparent;
	}
}
