.active
{
    background-color: #E5533A !important;
}

.badge
{
    background-color: #E5533A !important;
    color: white !important;
    height: 25px;
    margin-top: 10px;
}

.center
{
    margin: auto;
}
.btn-dark-moon {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #E5533A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #E5533A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
    margin: 20px 33% ;
    width:200px
}
.btn-rounded {
    border-radius: 35px;
}