<div class="row mx-0 mt-2">
  <div class="col-md-3 pt-3 sec">
    <div id="navbar-example">
      <div class="nav nav-tabs" role="tablist">
        <span
          class="list-group-item list-group-item-action cat"
          style="cursor: pointer"
        >
          <i class="far fa-thumbs-up pr-2"></i>top dishes<i
            class="fas fa-arrow-right float-right"
          ></i>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-9 pt-3">
    <h4 class="collection-title">Top Dishes</h4>
    <div class="row colection" *ngFor="let item of menu">
      <div class="col-md-8">
        <p class="meal-info">{{ item.dishDescription }}</p>
        <span class="price-span" (click)="open(content)"
          ><i class="fas fa-plus-circle"></i
          >{{ item.dishPrice | currency: "EGP" }}</span
        >
      </div>
      <div class="col-md-4 float-right">
        <img [src]="item.dishImage" alt="meal" class="img-fluid" />
      </div>
      <ng-template #content let-modal>
        <div class="modal-body">
          <img [src]="item.dishImage" alt="meal" class="img-thumbnail mb-1" />
          <h3>{{ item.dishName }}</h3>
          <p class="meal-info py-3">{{ item.dishDescription }}</p>
          <div class="dish-size p-2">
            <h3>Choose Size :</h3>
            <input type="radio" checked="checked" [(ngModel)]="dishSize" name="size"/> <span class="radio-txt">Small </span>
            <br/>
            <input type="radio" value="medium" [(ngModel)]="dishSize" name="size"/> <span class="radio-txt">Medium </span>
            <br/>
            <input type="radio" value="large" [(ngModel)]="dishSize" name="size"/> <span class="radio-txt">Large </span>
          </div>
          <p class="addToOrder">
            <i class="fas fa-minus-circle f" (click)="remOrder()"></i>{{ add
            }}<i class="fas fa-plus-circle f" (click)="addOrder()"></i>
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-c"
            (click)="modal.close(); buy(item)"
          >
            Buy
          </button>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- checkout bar -->
  <div *ngIf="DishBuy.length != 0" class="orderDetials px-1">
    <div class="row">
      <div class="col-md-6 px-4">
        <p
          class="p-0 openOrderModal"
          placement="top"
          [ngbPopover]="popContent"
          [autoClose]="'outside'"
        >
          {{ itemsNumber }} items has been added to basket !
        </p>
      </div>
      <div class="col-md-6 px-4">
        <p (click)="goto()" class="float-right p-0 link">
          Go to checkout <i class="fas fa-arrow-right"></i>
        </p>
      </div>
    </div>
  </div>
  <!-- Checkout POPOVERS -->
  <ng-template #popContent>
    <div class="itemsCheckout" *ngFor="let item of DishBuy">
      <div class="row popover-custom">
        <div class="col-md-10">
          <img
            [src]="item.dishImage"
            alt="meal"
            style="width: 80px; height: 70px;vertical-align: baseline;"
          />
          <div class="d-inline-block">
            <h3>{{ item.dishName }}</h3>
            <h4> Quantity: {{ item.dishQuantity }}</h4>
            <h4>Size : {{item.dishSize}}</h4>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-c float-right" (click)="deleteItem(item.dishId)">Delete</button>
        </div>
      </div>
    </div>
    <br/>
    <h3> Total Price : {{ totalOrderPrice }}</h3>
    <br/>
  </ng-template>
</div>
