.price-span , .f {
    cursor: pointer;
}
.btn-c{
    color: #fff !important;
    background-color: #E5533A !important;
    box-shadow: none !important;
}
.addToOrder{
    color: #8d8f91;
    text-align: center;
    font-size: 3.5rem;
}
.f{
    padding: 0 12px ;
}
.orderDetials{
    padding-top: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 55;
    background-color: #E5533A;
    color:#fff;
    font-size: 20px;

}
.img-modal{
    max-width: 100%;
    max-height: 60%;
}
input[type=radio]:checked {
    background-color: #E5533A ;
}
.radio-txt{
    font-size: 16px;
    font-weight: 600;
    color: #2a2b2c;
    padding-left: 5px ;
}
.link{
cursor: pointer;
}

.orderDetials p i{
position: relative;
top:-4px;
}
.openOrderModal:hover{
    text-decoration: underline;
    cursor: pointer;
}
.popover-custom{
 padding:8px;
}
.flx{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.itemsCheckout{
    border-bottom: 1px solid #dfe2e6;
}