.price-span , .f {
    cursor: pointer;
}
.btn-c{
    color: #fff !important;
    background-color: #E5533A !important;
    box-shadow: none !important;
}
.addToOrder{
    color: #8d8f91;
    text-align: center;
    font-size: 3.5rem;
}
.f{
    padding: 0 12px ;
}