.main_setting_btn {
    background-color: #E5533A;
    color: white;
    border: none;
    padding: 7px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 45px;
  }
  input[type=text]
  {
    font-size: 17px;
    margin-bottom: 15px;
  }
  @media screen and (max-width: 600px) {
    input[type=text] {
    font-size: 13px;
  }
}