    <br><br>  <h3 style="text-align: center;">Change Password</h3> 
     <br> <div class="form-group" style="width: 40%; margin: auto;">
            <label>old password</label>
            <input type="text" class="form-control" id="oldpass" placeholder="Enter old Password">

            <label>new password</label>
            <input type="text" class="form-control" id="newpass" placeholder="Enter new Password">

            <label >confirm new password</label>
            <input type="text" class="form-control" id="confirmnewpass" placeholder="Enter new Password">
            <button class="main_setting_btn">Save Changes</button>
          </div>
         
     