@font-face{
    src: url('../../../assets/fonts/Gilroy-Light.otf');
    font-family: Gilory;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative; 
    font-family: Gilory,'open-sans', sans-serif;
}
/* cover img */
.cover-img{
    background-image: url("../../../assets/images/Banner.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    height: 220px;
}
/* Logo */
.cover-logo{
    position: relative;
    padding-left: 2rem;

}
.cover-logo img {
    position: relative;
    top: -50px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    z-index: 2222;
    overflow:hidden;
    width:230px;
    height: 200px;

}
.cove-logo-content{
    border-bottom: 2px solid #ebeaec;
}
/* Logo content */
.rest-info{
    display: inline-block;
}
.rest-name{
    font-size: 35px;
    font-weight: 600;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
.rest-name span{
    font-size: 13px;
    color: #4caf50;
    text-transform: uppercase;
}
.rest-name span::before{
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #4caf50;
}
.rest-type{
    vertical-align: middle;
    color: rgba(0,0,0,.5);
    font-size: 14px;
    font-weight: 500;
    margin-right: 4px;
    margin-left: 7px;
}
.stars svg{
    overflow: visible;
    vertical-align: initial;
    padding-left: 1px;
}
.rest-loc{
    font-size: 15px;
    font-weight: 600;

}
.rest-loc a{
    font-size: 15px;
    font-weight: 600;
    color: #DA532C;
    text-decoration: underline;
}
/* info btns  */
.cover-btns button{
    color: #DA532C;
    background: #fff;
    padding: 10px;
    font-size:1.3em;
    margin-left: 10px;
    border-radius: 50%;
    -webkit-box-shadow: 0 6px 13px 0 rgba(0,0,0,.1);
    box-shadow: 0 6px 13px 0 rgba(0,0,0,.1);
}
.cover-btns i{
    vertical-align: middle;
}
/* menu-content */
.menu-container{
    padding: 0 2rem;
}
a.tabs{
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #7f7f7f !important;
    padding: 9px 16px;
    display: inline-block;
    border: none;
    border-radius: 25px !important;
    margin-right: 5px;
}
a.tabs:hover{
    background-color: #F3F5F5;
}
a.tabs.active{
    background-color: #e5533b !important;
    color: #fff !important;
    
}
/* meun bar update */
.h{
    color: #1d8b22
}
.info-links i{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 0;
    
}
.info-links{
    padding-top: 10px;
    text-align: center;
    height: auto;
    padding-right: 10px;
    margin-bottom: 3px;
    color: #3e3e3e;
    font-size: 15px;
    font-weight: 600;
}
.info-links span{
    padding-right: 10px;
}

/* menu scrollspy */
#navbar-example{
    padding-left:2rem;
    
}
.fixed{
    position: fixed;
    top: 0;
    z-index: 555;
}

.cat {
    position: relative;
    font-size: 16px;
    color: #7b7d7f;
    display: block;
    padding:13px;
    border: none;
    border-bottom: 1px solid #f0f4f7;
    border-radius: 8px !important;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.cat.active{
    color: #fff;
    background-color: #e5533b;
    border-color: #f0f4f7;
}
.sec{
    border-right:1px solid #f0f4f7;
}
/* menu */
.collection-title{
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
    color: #2a2b2c;
    padding-left: 25px;
}
.colection{
    padding: .8rem;
    border-bottom:1px solid #f0f4f7;
}
.colection h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    color: #2a2b2c;
    margin-top: 4px;
}
.colection p{
    color: #a9acae;
    font-size: 14px;
    margin-bottom: 10px;

}
.colection span{
    font-size: 16px;
    font-weight: 600;
    color: #e5533a;
    margin-bottom: 0;
}
/* side bar */
/* card */
.sv{
    font-size: 20px;
    width: 40px;
    height: 35px;
}
.card-body{
    background-color: #e5533b0a;
    border-radius: 8px;
    padding: 15px;
}
.card-title{
    padding-top: 1rem;
    color: #7a7a7a;
    font-size: 20px;
    margin-top: 0;
    
    margin-bottom: 10px;
}
.card-title span{
    color: #e5533a;
    font-weight: 600;
}
.btn-address{
    background-color: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
    width: 100%;
    text-align: start;
    padding: 15px 12px;
}
.fa-arrow-right:before {
    vertical-align: -webkit-baseline-middle;
}
/* branches page */
.start-title{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 10px 0;
    color: #2a2b2c;
    padding-left: 25px;
}
.jumbotron{
    background-color: transparent;
    border-bottom: 1px solid #dfe2e6;
}
.area-icon {
    width: 65px;
    height: 65px;
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    background-color: #dddde0;
    color: #464748;
    margin-right: 16px;
}
.area-title {
    font-size: 24px;
    color: #2a2b2c;
    display: inline;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}
.info-value {
    font-size: 16px;
    font-weight: 600;
    color: #2a2b2c;
    padding: 1rem 7rem;
}
.info-value span::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #464748;
}
.info-2-value{
    font-size: 16px;
    padding: 0 7rem;
    font-weight: 600;
    color: #2a2b2c;
}
.info-2-value i{
    width: 25px;
    height: auto;
    
    color: #8d8f91;
}
.text{
    font-size: 14px;
    color: #a9acae;
    display: inline-block;
}
.text i{
    color: #77e63b;
}
/* info page */
.jEnfo{
    background-color: #F1F2F2;
    height: auto;
    padding: 1rem;
    border: none;
}
p.info-3-value{
    margin-bottom: 0;
}
.info-3-value i{
    width: 25px;
    height: auto;
    padding-right:1rem ;
    color: #8d8f91;
}
.info-3-value{
    font-size: 16px;
    font-weight: 600;
    color: #2a2b2c;
}
.info-3-value  a{
    font-size: 15px;
    font-weight: 600;
    color: #DA532C;
    text-decoration: underline;
}
.card{
    margin: 2rem 1rem;
    border-radius: 15px;
    width: 10rem;
}
.area-t{
        font-size: 14px;
    font-weight: 400;
    color: #464748;
    margin-top: 10px;
    display: inline-block;
    width: 20%;
}