<div class="container-fluid mt-5">
  <form [formGroup]="restForm" (ngSubmit)="Add()">
    <fieldset>
      <legend class="jumbotron text-center"><h2>Add New Restaurant</h2></legend>
    
      <div class="row">
        <div class="form-group col-6">
          <label for="title">English Restaurant Name</label>
          <input
          formControlName="restname"
            type="text"
            class="form-control"
            id="title"
            placeholder="Enter Restaurant Name"
          />
        </div>

        <div class="form-group col-6">
          <label for="title">Arabic Restaurant Name</label>
          <input
          formControlName="restname_ar"
            type="text"
            class="form-control"
            id="title"
            placeholder="أدخل اسم المطعم باللغة العربية"
          />
        </div>
        
      </div>
      
      
      <div class="form-group">
        <label for="title">Restaurant Branch</label>
        <input
          type="text"
          class="form-control"
          id="title"        
          formControlName="restbranch"
          placeholder="Enter Restaurant Branch"
        />
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label for="title">Restaurant Address</label>
          <input
            type="text"
            class="form-control"
            id="title"        
            formControlName="restaddres"
            placeholder="Enter Restaurant Address"
          />
        </div>
  
        <div class="form-group col-6">
          <label for="title">Arabic Restaurant Address</label>
          <input
            type="text"
            class="form-control"
            id="title"        
            formControlName="restaddres_ar"
            placeholder="أدخل عنوان المطعم باللغة العربية"
          />
        </div>
  
      </div>
      

      

      <div class="form-group">
        <label for="description">Restaurant Opening</label>
        <input 
          type="text"
          class="form-control"
          id="description2"
          name="description"
          formControlName="restopen"
          placeholder="Enter Restaurant Opening Time"
        />
      </div>

      <div class="form-group">
        <label for="description">Restaurant Closing</label>
        <input
          
          type="text"
          class="form-control"
          id="description"
          name="description"
          formControlName="restclose"
          placeholder="Enter Restaurant Closing Time"
        />
      </div>
    
      <div class="form-group">
        <label for="description">Restaurant Phone</label>
        <input
          
          type="text"
          class="form-control"
          id="description3"
          name="description"
          formControlName="restphone"
          placeholder="Enter Restaurant Phone"
        />
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label for="description">Restaurant Type</label>
          <input
            
            type="text"
            class="form-control"
            id="description3"
            name="description"
            formControlName="resttype"
            placeholder="Enter Restaurant Type"
          />
        </div> 

        <div class="form-group col-6">
          <label for="description">Restaurant Type</label>
          <input
            
            type="text"
            class="form-control"
            id="description3"
            name="description"
            formControlName="resttype_ar"
            placeholder="نوع المطعم باللغة العربية"
          />
        </div> 
      </div>
    
      <br>
  <div class="form-group col-12">
    <input type="file"
    [hidden]="true"
    id="file"
    #file
    (change)="onFileSelected($event,file.files)"
    name="image"
    autocomplete="off"
    value="Upload Image"
    /><label for="file" class="btn btn-secondary">upload Restaurant Image <i class="fas fa-upload"></i></label>
    <img [src]="imgURL" style="margin-left: 20px;" height="200" *ngIf="imgURL">
    <p *ngIf="fb">{{fb}}</p>
   <p *ngIf="clicked">Please Wait...</p>
  </div>


      <div class="text-center">
        <button
        [disabled]="(restForm.invalid)"
          (click)="Add()"
          type="button"
          class="btn btn-dark-moon btn-rounded"
        >
          Add Restaurant
        </button>
      </div>
    </fieldset>
  </form>
</div>



