table{
    tbody{
        td{
            font-size: 19;
            font-weight: bold;
            font-style: italic;
        }
    }
}

@media(max-width:575px){
    h2{
        text-align: center;
    }
  }