

*{
	box-sizing: border-box;
}
input {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0);
}

/*Gift_Cards_section
--------------------*/
.gift-card-subtitle{
	color: #adbccc;
	font-size: 1rem;
}
.gift-card-subtitle a{
	color: #0099FF;
	text-decoration: underline;
}
ul{
	list-style-type: none;
}
.steps li{
	vertical-align: top;
    position: relative;
    margin-right: 115px;
    float: left;
}
.gift-steps .steps li.active-step .step-val{
	box-shadow: 0 0 0 2px #00da67;
    background-color: #44db5e;
    color: #fff;
}
.gift-steps .steps li .step-val{
	width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    box-shadow: 0 0 0 2px #fff;
    border-radius: 50%;
    background-color: #e9ecf0;
    color: #adbccc;
    position: relative;
    border: 4px solid #fff;
    margin: 0 auto 8px;
    font-size: 24px;
    font-weight: 600;
    box-sizing: content-box;
    text-align: center;
}

.gift-steps .steps li .step-title{
	color: #adbccc;
	display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.gift-steps .steps li.active-step .step-title{
	color: #2a2b2c;
	display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.steps .step-val{
	box-shadow: 0 0 0 2px #00da67;
    background-color: #44db5e;
    color: #fff;	
	width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    border-radius: 50%;
    position: relative;
    border: 4px solid #fff;
    margin: 0 auto 8px;
    font-size: 24px;
    font-weight: 600;
    box-sizing: content-box;
    text-align: center;
}

.steps li:last-child {
	display: inline-block;
    vertical-align: top;
    position: relative;
    float: left;
    margin-right: 0;
}

.steps-list li .content{
	position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
/*add-step-line-after-circle*/
.steps li.active-step  .step-val:after{
	content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -1px;
    margin-left: 6px;
    height: 3px;
    width: 130px;
	background-color: #e9ecf0;
}
/*remove-step-line-from-second-circle*/
.steps li.active-step:nth-child(2) .step-val:after{
	content: "";
    display: none;
}

/*Form
------*/
/*Select picker_dropdown*/
.form-group label{
	font-size: .9rem;
    font-weight: 500;
    color: #7d7e7e;
}
.drp-dwn {
	position: relative;
}
.drp-dwn select {
	cursor: text;
}

.form-group input:focus, .drp-dwn select:focus{
	box-shadow: none;
	// border-color: #CCCCCC;
}


.drp-dwn span.col-form-label {
	position: absolute;
	font-size: 1rem;
	top: 1.8rem;
    left: 20rem;
	color: #7d7e7e;
	font-weight: 600;
}

.info {
	color: #a9acae;
	font-size: 11px;
	font-weight: 700;
	line-height: 1.3rem;
}

#gft-pymnt-btn{
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.4);
    font-size: 15px;
    font-weight: 500;
	background-color: #e5533a;
    border-color: #e5533a;
    border-radius: 4px;
}
#gft-pymnt-btn:hover{
	background-color: #DF3019;
}

.gift-img {
	max-width: 123%;
	height: 37.3rem;
}

@media screen and (max-width: 768px){
	.gift-steps-cntnt{
		margin-top: 10rem;
	}
	.gift-steps{
		margin: 5rem;
	}

}


@media screen and (min-width: 579px) and (max-width: 1200px) {
	.drp-dwn span.col-form-label {
		left: 16.2rem;
	}
}

@media screen and (max-width: 578px){
	.gift-steps-cntnt{
		margin: 2rem;
	}
	.drp-dwn{
		width: 15rem;
	}
	.drp-dwn span.col-form-label {
		left: 14.5rem;
	}
	.gift-steps{
		display: none;
	}
	.gift-img {
		display: none;
	}
}

.ng-valid:not(form)  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .sm-font{
	  font-size: 12px;
  }
  
/*form
margin-top: 7rem;
.gift-steps
margin: 5rem;*/