.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #EBE4F8;
}

input:focus + .slider {
  box-shadow: 0 0 1px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
  background-color: #4CAF50;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.orange_rate
{
  color: orange !important;
}

.fa-star {
    color: #D9DBDB;
  }

  .paragraph {
    line-height: 2;
    color: rgb(107, 104, 104);
    margin: 0;
  }
.aria_parag
{
  font-size: 12px;
  margin:0
}
  .gray-col {
    color: gray;
  }