table{
    tbody{
        td{
            font-size: 15;
            font-weight: bold;
            font-style: italic;
        }
    }
}

select{
    
    font-size: 13;
    font-weight: bold;
    font-style: italic;
            
}
.green{
    color: rgb(11, 192, 11);
}
.red{
    color: red;
}