    <div class="col-md-12 pt-3">
      <h4 class="start-title">{{"branch" | translate}} </h4>
      <div class="jumbotron" *ngFor="let item of returantBrnches">
        <div class="container">
          <span class="area-icon">{{item  | slice:0:2 }}</span>
          <h4 class="area-title">{{item}}</h4>

          <!-- <p class="info-value"><span> Gas Station</span></p> -->
          <span class="text float-right">
            <i class="far fa-check-circle"></i>
            {{"delevertou" | translate}} 
          </span>
          <p class="info-2-value"><i class="far fa-clock"></i>{{workOpen}} - {{WrokClose}}</p>
        </div>
      </div>
    </div>
