<br><br>
<div class="container">
<div class="row">
    <div class="col-sm-6">
    <div class="form-group" >
        <label >Name</label>
        <input type="text" class="form-control" id="name">
        <br> <h6 >Add New Address Details</h6>
        <span style="font-size:15px; color: gray;"><i style="color: #E5533A;" class="fas fa-exclamation-circle"></i>Please select your exact location on the map, so that captains can reach</span>
        <p style="font-size: 18px; "><strong>city: </strong> Asyut,<strong> Area: </strong>St. Mohamed Tawfik,<strong> Zone:</strong> St. Mohamed Tawfik
        </p>

        <label>Address Info</label>
        <input type="text" class="form-control" id="addrinfo" placeholder="in Front of Le Carnaval Hotel">
    <!----------------->
    <div class="row">
        <div class="col-xs-4" style="margin-left: 16px;">
        <label>Building no</label>
        <input type="text" class="form-control" id="addrinfo" placeholder="eg.4">
        </div>
        <div class="col-xs-4" style="margin-left: 16px;">
        <label>Floor no</label>
        <input type="text" class="form-control" id="addrinfo" placeholder="eg.2">
        </div>
    </div>
    <!----------------->
        <label>Apartment no</label>
        <input type="text" class="form-control" id="addrinfo" placeholder="e.g.14">
        
        <label>Mobile No</label>
        <input type="text" class="form-control" id="addrinfo" placeholder="eg.01654238764">
        
        <label class="switch" style="margin-top: 30px;">
        <input type="checkbox">
        <span class="slider round"></span>
        </label><span style="font-size: 16px;"> That is a company address</span>
        <br>
        <button class="main_setting_btn">Save Address</button>
        <button class="main_setting_btn_cancel">Cancel</button>

    </div>
    </div>
    <!----------------------------->
    <div class="col-sm-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.598168015172!2d31.240948785406374!3d30.048384025342653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458411d6e3369ed%3A0x4c934155924609c!2sAmbiance%20cairo%20hotel!5e0!3m2!1sar!2seg!4v1608641006272!5m2!1sar!2seg" width="100%" height="750" frameborder="0" style="border:0; margin-left:10px" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    
</div>
</div>
